<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aromaproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/aroma"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aroma"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aromaproject">
        <activity android:name=".Recipe"></activity>
        <activity android:name=".newrecipe" />
        <activity android:name=".Scent" />
        <activity android:name=".temper" />
        <activity android:name=".Mainview" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>